body {
  background-color: bisque;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote {
  display: flex;
  text-align: center;
  width: 70%;
  justify-content: center;
}
